body{
    margin: 0;
    padding: 0;
    outline: 0;
    background-color:#191919;
    height: 1000px;
}
.banner video{
height: 100% ;
width: 50%;
margin-left: 300px;
}
.button button{
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
}
.button{
    margin-top: 200px;
    margin-left: 590px;
    
}
.button button a{
    text-decoration: none;
}
.button button:hover{
    background-color: black;
    color: white;
}
.button button a:hover{
    color: white;
}